<%= form_for Community.new do |f| %>
<div class="form-group">
  <%= label_tag :name %>
  <%= text_field :name, class: "form-control" %>
</div>

<%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
